# Environment Variables
PORT=3001
JWT_SECRET=change-this-to-a-random-secret-key-in-production
YOUTUBE_API_KEY=
DOWNLOAD_DIR=./downloads
DB_PATH=./data/music-request.db
INTERNXT_EMAIL=
INTERNXT_PASSWORD=
INTERNXT_APP_KEY=
